<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>about</title>
</head>

<body>
    <%- include('./partials/navBar') %>

        <div class="container mt-5">
            <h1 style="text-align: center; font-weight: bold; margin-top: 15px;">
                <%= aboutBlog.title %>
            </h1>
            <div>
                <img src="<%= aboutBlog.thumbnailUrl %>" style="height: 300px; width: 500px; object-fit: cover;">
            </div>
            <p>
                <%= aboutBlog.description %>
            </p>

        </div>

        <%- include('./partials/script') %>
</body>

</html>